<div id="repos">
  <h1>
    Repositories for <%= @user.name %> 
    <small>Rule them out until you figure out what to talk about.</small>
    <small> - </small>
    <small>
      <a href="#show">Show All</a> or <a href="#hide">Hide All</a>
    </small>
  </h1>
  
  <h2 id="winner" style="display:none"></h2>
  <h2 id="loser" style="display:none">
    So you've got nothing to talk about. Better luck next time!
  </h2>

  <% @repos.each_with_index do |repo, i| %>
    <div class="repo" id="repo-<%= i %>">
      <div>
        <h3><a class="link" href="<%= repo.url %>"><%= repo.name %></a></h3>
        <span><%= repo.description %></span>
      </div>
      <dl class="meta">
        <dt>Watchers</dt>
        <dd><%= repo.watchers %></dd>
      </dl>
    </div>
  <% end %>
  
  <% if @repos.empty? %>
    <p class="no-repos">
      <%= @user.name %> doesn't have any repositories.
    </p>
  <% end %>
</div>
